<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
    <div class="main-container">
      <div class="input-container">
        <form method="post" action="/login">
          <div class="input-row">
            <label for="email">Enter Email</label>
            <input id="email" name="email" type="email" placeholder="enter your email" required />
          </div>
          <div class="input-row">
            <label for="password">Enter Password</label>
            <input id="password" name="password" type="password" placeholder="enter your password" required />
          </div>
          <div class="button">
            <button type="submit">Login</button>
          </div>
          <a href="/registration">create a new account</a>
        </form>
      </div>
    </div>
  </body>
</html>
